body{
    background-color: rgb(172, 252, 225);
    min-height: 100vh;
}
.logo{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
}
.frey{
    height: 20vh;
    width: 10vw;
    border-radius: 100px;
    padding:1vh
}
.jakob
{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
    padding: 1vh;
}
.hielo{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
    padding: 1vh;
}
.casa{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
    padding: 1vh;
}

.facebook{
    height: 10vh;
    width: 5vw;
    border-radius: 150px;
}
.x{
    height: 10vh;
    width: 5vw;
    border-radius: 50px;
}
.mail{
    height: 10vh;
    width: 5vw;
    border-radius: 150px;
}
.instagram{
    height: 10vh;
    width: 5vw;
    border-radius: 150px;
}
.redes{
    display: flex;
    justify-content: space-around
}
.infocasa{
    background-color: aliceblue;
    border-radius: 10px;
}
.imagenes-casa{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
width: 95%;
margin: auto;
grid-gap: 10px;
padding: 40px 0;
overflow: hidden;
}
.imagenes-casa img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}
.a1{
    grid-area: a1;
    height: 50vh;
    width: 45vw;
        @include mobile{
        padding: 2px;
}
}
.b1{
    grid-area: b1;
    height: 50vh;
    width: 50vw;
        @include mobile{
        padding: 2px;
}
}
.c1{
    grid-area: c1;
    height: 50vh;
    width: 50vw;
        @include mobile{
        padding: 2px;
}
}
.d1{
    grid-area: d1;
    height: 50vh;
    width: 45vw;
        @include mobile{
        padding: 2px;
}
}
.e1{grid-area: e1;
    height: 50vh;
    width: 50vw;
        @include mobile{
        padding: 2px;
}
}
.f1{grid-area: f1;
    height: 50vh;
    width: 45vw;
            @include mobile{
        padding: 2px;
}
}
.g1{grid-area: g1;
    height: 50vh;
    width: 60vw;
            @include mobile{
        padding: 2px;
}
}
.h1{grid-area: h1;
    height: 50vh;
    width: 35vw;
        @include mobile{
        padding: 2px;
}
}