body{
    background-color: rgb(172, 252, 225);
    min-height: 100vh;
}
.logo{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
}
.logo:hover{
    animation: vibrate 0.5s infinite;
}
@keyframes vibrate{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.frey{
    height: 20vh;
    width: 10vw;
    border-radius: 100px;
    padding:1vh
}
.jakob
{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
    padding: 1vh;
}
.hielo{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
    padding: 1vh;
}
.casa{
    height: 20vh;
    width: 10vw;
    border-radius: 150px;
    padding: 1vh;
}
.facebook{
    height: 10vh;
    width: 5vw;
    border-radius: 150px;
}
.x{
    height: 10vh;
    width: 5vw;
    border-radius: 50px;
}
.mail{
    height: 10vh;
    width: 5vw;
    border-radius: 150px;
}
.instagram{
    height: 10vh;
    width: 5vw;
    border-radius: 150px;
}
.redes{
    display: flex;
    justify-content: space-around
}

.infofrey{
    background-color: aliceblue;
    border-radius: 10px;
}
.imagenes-frey{
    display: grid;
    grid-template-areas:
    "a a b b"
    "c c d d"
    "e e f f"
    "g g h h";
        justify-items: center;
        align-items: center;
        margin: auto;
        object-fit: cover;
        width: 100%;
        position: relative;
        padding: 0 0 0 0 ;
        @include mobile{
        padding: 2px;
}
    }

    .a{
    grid-area: a;
    height: 50vh;
    width: 45vw;
    @include mobile{
    padding: 2px;
}
}
.b{
    grid-area: b;
    height: 50vh;
    width: 50vw;
    @include mobile{
    padding: 2px;
}
}
.c{
    grid-area: c;
    height: 50vh;
    width: 50vw;
    @include mobile{
    padding: 2px;
}
}
.d{
    grid-area: d;
    height: 50vh;
    width: 45vw;
    @include mobile{
    padding: 2px;
}
}
.e{grid-area: e;
    height: 50vh;
    width: 50vw;
    @include mobile{
    padding: 2px;
}
}
.f{grid-area: f;
    height: 50vh;
    width: 45vw;
    @include mobile{
    padding: 2px;
}
}
.g{grid-area: g;
    height: 50vh;
    width: 60vw;
    @include mobile{
    padding: 2px;
}
}
.h{grid-area: h;
    height: 50vh;
    width: 35vw;
    @include mobile{
    padding: 2px;
}
}

